In [1]:
# Import required libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.metrics import classification_report, accuracy_score , confusion_matrix
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, f1_score
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.svm import SVC
from xgboost import XGBClassifier
from imblearn.ensemble import BalancedRandomForestClassifier, EasyEnsembleClassifier, BalancedBaggingClassifier
from imblearn.over_sampling import SMOTE

In [2]:
data=pd.read_csv("BankChurners.csv")
data.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

In [3]:
data.shape

(10127, 23)

In [4]:
data.drop("CLIENTNUM", axis=1, inplace=True)

In [5]:
data = data.iloc[:, :-2]
data.head()

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,5,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,4,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,3,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Attrition_Flag            10127 non-null  object
 1   Customer_Age              10127 non-null  int64
 2   Gender                    10127 non-null  object
 3   Dependent_count           10127 non-null  int64
 4   Education_Level           10127 non-null  object
 5   Marital_Status            10127 non-null  object
 6   Income_Category           10127 non-null  object
 7   Card_Category             10127 non-null  object
 8   Months_on_book            10127 non-null  int64
 9   Total_Relationship_Count  10127 non-null  int64
 10  Months_Inactive_12_mon    10127 non-null  int64
 11  Contacts_Count_12_mon     10127 non-null  int64
 12  Credit_Limit              10127 non-null  float64
 13  Total_Revolving_Bal       10127 non-null  int64
 14  Avg_Open_To_Buy           10127 non-null  float64
 15  Total_Amt_Chng_Q4_Q1      10127 non-null  float64
 16  Total_Trans_Amt           10127 non-null  int64
 17  Total_Trans_Ct            10127 non-null  int64
 18  Total_Ct_Chng_Q4_Q1       10127 non-null  float64
 19  Avg_Utilization_Ratio     10127 non-null  float64
dtypes: float64(5), int64(9), object(6)
memory usage: 1.5+ MB

In [7]:
data.isnull().sum()

Attrition_Flag              0
Customer_Age                0
Gender                      0
Dependent_count             0
Education_Level             0
Marital_Status              0
Income_Category             0
Card_Category               0
Months_on_book              0
Total_Relationship_Count    0
Months_Inactive_12_mon      0
Contacts_Count_12_mon       0
Credit_Limit                0
Total_Revolving_Bal         0
Avg_Open_To_Buy             0
Total_Amt_Chng_Q4_Q1        0
Total_Trans_Amt             0
Total_Trans_Ct              0
Total_Ct_Chng_Q4_Q1         0
Avg_Utilization_Ratio       0
dtype: int64

In [8]:
income_mapping = {
    'Less than $40K': 1,
    '$40K - $60K': 2,
    '$60K - $80K': 3,
    '$80K - $120K': 4,
    '$120K +': 5,
    'Unknown': np.nan  # Treat "Unknown" as NaN
}
education_mapping = {
    'Uneducated': 1,
    'High School': 2,
    'College': 3,
    'Graduate': 4,
    'Post-Graduate': 5,
    'Doctorate': 6,
    'Unknown': np.nan  # Treat "Unknown" as NaN
}

In [9]:
# Encode ordinal columns

data['Income_Category'] = data['Income_Category'].map(income_mapping)
data['Education_Level'] = data['Education_Level'].map(education_mapping)

In [10]:
data.isnull().sum()

Attrition_Flag                 0
Customer_Age                   0
Gender                         0
Dependent_count                0
Education_Level             1519
Marital_Status                 0
Income_Category             1112
Card_Category                  0
Months_on_book                 0
Total_Relationship_Count       0
Months_Inactive_12_mon         0
Contacts_Count_12_mon          0
Credit_Limit                   0
Total_Revolving_Bal            0
Avg_Open_To_Buy                0
Total_Amt_Chng_Q4_Q1           0
Total_Trans_Amt                0
Total_Trans_Ct                 0
Total_Ct_Chng_Q4_Q1            0
Avg_Utilization_Ratio          0
dtype: int64

In [11]:
# Impute missing values with median
data['Income_Category'].fillna(data['Income_Category'].median(), inplace=True)
data['Education_Level'].fillna(data['Education_Level'].median(), inplace=True)

C:\Users\aksha\AppData\Local\Temp\ipykernel_22724\3562756247.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Income_Category'].fillna(data['Income_Category'].median(), inplace=True)
C:\Users\aksha\AppData\Local\Temp\ipykernel_22724\3562756247.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Education_Level'].fillna(data['Education_Level'].median(), inplace=True)

In [12]:
data['Attrition_Flag'] = data['Attrition_Flag'].map({'Existing Customer': 1, 'Attrited Customer': 0})

In [13]:
data.head()

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,1,45,M,3,2.0,Married,3.0,Blue,39,5,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,1,49,F,5,4.0,Single,1.0,Blue,44,6,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,1,51,M,3,4.0,Married,4.0,Blue,36,4,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,1,40,F,4,2.0,Unknown,1.0,Blue,34,3,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,1,40,M,3,1.0,Married,3.0,Blue,21,5,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000

In [14]:
# Encode categorical columns with Label Encoding
label_encoder = LabelEncoder()
categorical_columns = [ 'Gender', 'Marital_Status', 'Card_Category']
for col in categorical_columns:
    data[col] = label_encoder.fit_transform(data[col])

In [15]:
data.head()

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,1,45,1,3,2.0,1,3.0,0,39,5,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,1,49,0,5,4.0,2,1.0,0,44,6,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,1,51,1,3,4.0,1,4.0,0,36,4,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,1,40,0,4,2.0,3,1.0,0,34,3,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,1,40,1,3,1.0,1,3.0,0,21,5,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000

In [16]:
# Step 2: Feature Scaling
# Separate features and target variable
X = data.drop('Attrition_Flag', axis=1)
y = data['Attrition_Flag']

In [17]:
# Standardize numerical features
scaler = StandardScaler()
X = scaler.fit_transform(X)

# Step 3: Train-Test Split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

In [22]:

# Define the models
models = {
    'Logistic Regression': LogisticRegression(class_weight='balanced', random_state=42),
    'Decision Tree': DecisionTreeClassifier(random_state=42),
    'Random Forest': RandomForestClassifier(class_weight='balanced', random_state=42),
    'Support Vector Machine': SVC(class_weight='balanced', random_state=42),
    'Gradient Boosting': GradientBoostingClassifier(random_state=42),
    'XGBoost': XGBClassifier(),
    'Balanced Random Forest': BalancedRandomForestClassifier(random_state=42),
    'Easy Ensemble': EasyEnsembleClassifier(),
    'Balanced Bagging': BalancedBaggingClassifier()
}

# Initialize lists to store results
results = []

# Evaluate each model
for model_name, model in models.items():
    pipeline = Pipeline([
        ('scaler', StandardScaler()),
        ('classifier', model)
    ])
    
    # Fit the model
    pipeline.fit(X_train, y_train)
    
    # Predict on the test set
    y_pred = pipeline.predict(X_test)
    
    # Calculate metrics
    accuracy = accuracy_score(y_test, y_pred)
    f1 = f1_score(y_test, y_pred)
    cm = confusion_matrix(y_test, y_pred)
    
    # Store results
    results.append({
        'Model': model_name,
        'Accuracy': accuracy,
        'F1 Score': f1,
        'Confusion Matrix': cm
    })

# Create a DataFrame to compare the models
results_df = pd.DataFrame(results)

# Print the results
print(results_df)

                    Model  Accuracy  F1 Score           Confusion Matrix
0     Logistic Regression  0.735071  0.614217  [[1106, 443], [116, 445]]
1           Decision Tree  0.712322  0.476273  [[1227, 322], [285, 276]]
2           Random Forest  0.780569  0.526100  [[1390, 159], [304, 257]]
3  Support Vector Machine  0.726540  0.602343  [[1096, 453], [124, 437]]
4       Gradient Boosting  0.792891  0.564307  [[1390, 159], [278, 283]]
5                 XGBoost  0.781517  0.551992  [[1365, 184], [277, 284]]
6  Balanced Random Forest  0.760664  0.605160  [[1218, 331], [174, 387]]
7           Easy Ensemble  0.730332  0.616318  [[1084, 465], [104, 457]]
8        Balanced Bagging  0.757820  0.588235  [[1234, 315], [196, 365]]

In [18]:

# Define the models
models = {
    'Logistic Regression': LogisticRegression(class_weight='balanced', random_state=42),
    'Decision Tree': DecisionTreeClassifier(random_state=42),
    'Random Forest': RandomForestClassifier(class_weight='balanced', random_state=42),
    'Support Vector Machine': SVC(class_weight='balanced', random_state=42),
    'Gradient Boosting': GradientBoostingClassifier(random_state=42),
    'XGBoost': XGBClassifier(scale_pos_weight=len(y_train[y_train == 0]) / len(y_train[y_train == 1]), random_state=42),
    'Balanced Random Forest': BalancedRandomForestClassifier(random_state=42),
    'Easy Ensemble': EasyEnsembleClassifier(random_state=42),
    'Balanced Bagging': BalancedBaggingClassifier(estimator=DecisionTreeClassifier(), random_state=42)
}

# Initialize lists to store results
results = []

# Evaluate each model
for model_name, model in models.items():
    pipeline = Pipeline([
        ('scaler', StandardScaler()),
        ('classifier', model)
    ])
    
    # Fit the model
    pipeline.fit(X_train, y_train)
    
    # Predict on the test set
    y_pred = pipeline.predict(X_test)
    
    # Calculate metrics
    accuracy = accuracy_score(y_test, y_pred)
    f1 = f1_score(y_test, y_pred)
    cm = confusion_matrix(y_test, y_pred)
    
    # Store results
    results.append({
        'Model': model_name,
        'Accuracy': accuracy,
        'F1 Score': f1,
        'Confusion Matrix': cm
    })

# Create a DataFrame to compare the models
results_df = pd.DataFrame(results)

# Print the results
print(results_df)

                    Model  Accuracy  F1 Score          Confusion Matrix
0     Logistic Regression  0.836624  0.895814  [[272, 53], [278, 1423]]
1           Decision Tree  0.936821  0.962331   [[263, 62], [66, 1635]]
2           Random Forest  0.958045  0.975269   [[265, 60], [25, 1676]]
3  Support Vector Machine  0.917572  0.949286  [[296, 29], [138, 1563]]
4       Gradient Boosting  0.964956  0.979318   [[274, 51], [20, 1681]]
5                 XGBoost  0.972853  0.983733   [[308, 17], [38, 1663]]
6  Balanced Random Forest  0.949654  0.969498   [[303, 22], [80, 1621]]
7           Easy Ensemble  0.915597  0.947754  [[304, 21], [150, 1551]]
8        Balanced Bagging  0.924975  0.953911  [[301, 24], [128, 1573]]

In [19]:
import tensorflow as tf
from tensorflow import keras


model = keras.Sequential([
    keras.layers.Dense(19, input_shape=(19,), activation='relu'),
    keras.layers.Dense(15, activation='relu'),
    keras.layers.Dense(1, activation='sigmoid')
])

# opt = keras.optimizers.Adam(learning_rate=0.01)

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

model.fit(X_train, y_train, epochs=100)

c:\Program Files\Python311\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Epoch 1/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 1ms/step - accuracy: 0.7905 - loss: 0.4819
Epoch 2/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 823us/step - accuracy: 0.8905 - loss: 0.2852
Epoch 3/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 804us/step - accuracy: 0.8948 - loss: 0.2593
Epoch 4/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 798us/step - accuracy: 0.9081 - loss: 0.2267
Epoch 5/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 768us/step - accuracy: 0.9166 - loss: 0.2068
Epoch 6/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 957us/step - accuracy: 0.9186 - loss: 0.1978
Epoch 7/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 833us/step - accuracy: 0.9258 - loss: 0.1887
Epoch 8/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 827us/step - accuracy: 0.9290 - loss: 0.1845
Epoch 9/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 816us/step - accuracy: 0.9312 - loss: 0.1651
Epoch 10/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 822us/step - accuracy: 0.9310 - loss: 0.1670
Epoch 11/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 893us/step - accuracy: 0.9353 - loss: 0.1622
Epoch 12/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 971us/step - accuracy: 0.9378 - loss: 0.1555
Epoch 13/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 787us/step - accuracy: 0.9367 - loss: 0.1551
Epoch 14/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 849us/step - accuracy: 0.9380 - loss: 0.1468
Epoch 15/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 840us/step - accuracy: 0.9415 - loss: 0.1396
Epoch 16/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 923us/step - accuracy: 0.9383 - loss: 0.1521
Epoch 17/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 926us/step - accuracy: 0.9412 - loss: 0.1446
Epoch 18/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 848us/step - accuracy: 0.9447 - loss: 0.1398
Epoch 19/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 865us/step - accuracy: 0.9413 - loss: 0.1485
Epoch 20/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 880us/step - accuracy: 0.9411 - loss: 0.1501
Epoch 21/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.9407 - loss: 0.1487
Epoch 22/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 856us/step - accuracy: 0.9358 - loss: 0.1497
Epoch 23/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 917us/step - accuracy: 0.9384 - loss: 0.1463
Epoch 24/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 852us/step - accuracy: 0.9401 - loss: 0.1480
Epoch 25/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 880us/step - accuracy: 0.9444 - loss: 0.1426
Epoch 26/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.9478 - loss: 0.1347
Epoch 27/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.9435 - loss: 0.1356
Epoch 28/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 988us/step - accuracy: 0.9443 - loss: 0.1359
Epoch 29/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 891us/step - accuracy: 0.9430 - loss: 0.1413
Epoch 30/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 911us/step - accuracy: 0.9444 - loss: 0.1417
Epoch 31/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 867us/step - accuracy: 0.9447 - loss: 0.1370
Epoch 32/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.9470 - loss: 0.1332
Epoch 33/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 987us/step - accuracy: 0.9462 - loss: 0.1333
Epoch 34/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 933us/step - accuracy: 0.9474 - loss: 0.1312
Epoch 35/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 943us/step - accuracy: 0.9424 - loss: 0.1379
Epoch 36/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 842us/step - accuracy: 0.9416 - loss: 0.1390
Epoch 37/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 805us/step - accuracy: 0.9460 - loss: 0.1306
Epoch 38/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 822us/step - accuracy: 0.9437 - loss: 0.1337
Epoch 39/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 935us/step - accuracy: 0.9500 - loss: 0.1285
Epoch 40/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 945us/step - accuracy: 0.9526 - loss: 0.1216
Epoch 41/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 936us/step - accuracy: 0.9439 - loss: 0.1343
Epoch 42/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 847us/step - accuracy: 0.9481 - loss: 0.1280
Epoch 43/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 913us/step - accuracy: 0.9470 - loss: 0.1276
Epoch 44/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 960us/step - accuracy: 0.9453 - loss: 0.1301
Epoch 45/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.9500 - loss: 0.1201
Epoch 46/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 963us/step - accuracy: 0.9452 - loss: 0.1370
Epoch 47/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 942us/step - accuracy: 0.9511 - loss: 0.1185
Epoch 48/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 944us/step - accuracy: 0.9525 - loss: 0.1196
Epoch 49/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 978us/step - accuracy: 0.9467 - loss: 0.1272
Epoch 50/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 964us/step - accuracy: 0.9488 - loss: 0.1219
Epoch 51/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.9425 - loss: 0.1318
Epoch 52/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.9499 - loss: 0.1316
Epoch 53/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.9440 - loss: 0.1286
Epoch 54/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 929us/step - accuracy: 0.9484 - loss: 0.1218
Epoch 55/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 912us/step - accuracy: 0.9501 - loss: 0.1212
Epoch 56/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 915us/step - accuracy: 0.9471 - loss: 0.1254
Epoch 57/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 847us/step - accuracy: 0.9479 - loss: 0.1239
Epoch 58/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 836us/step - accuracy: 0.9508 - loss: 0.1147
Epoch 59/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 897us/step - accuracy: 0.9495 - loss: 0.1198
Epoch 60/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 872us/step - accuracy: 0.9520 - loss: 0.1183
Epoch 61/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 839us/step - accuracy: 0.9462 - loss: 0.1257
Epoch 62/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 834us/step - accuracy: 0.9495 - loss: 0.1215
Epoch 63/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.9520 - loss: 0.1175
Epoch 64/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.9543 - loss: 0.1149
Epoch 65/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 970us/step - accuracy: 0.9529 - loss: 0.1150
Epoch 66/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 897us/step - accuracy: 0.9537 - loss: 0.1150
Epoch 67/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 935us/step - accuracy: 0.9559 - loss: 0.1127
Epoch 68/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 922us/step - accuracy: 0.9541 - loss: 0.1153
Epoch 69/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 942us/step - accuracy: 0.9544 - loss: 0.1134
Epoch 70/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 887us/step - accuracy: 0.9510 - loss: 0.1186
Epoch 71/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 802us/step - accuracy: 0.9529 - loss: 0.1093
Epoch 72/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 913us/step - accuracy: 0.9544 - loss: 0.1144
Epoch 73/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 948us/step - accuracy: 0.9529 - loss: 0.1125
Epoch 74/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 847us/step - accuracy: 0.9570 - loss: 0.1079
Epoch 75/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 887us/step - accuracy: 0.9565 - loss: 0.1101
Epoch 76/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 957us/step - accuracy: 0.9576 - loss: 0.1074
Epoch 77/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 933us/step - accuracy: 0.9572 - loss: 0.1118
Epoch 78/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 893us/step - accuracy: 0.9503 - loss: 0.1154
Epoch 79/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 858us/step - accuracy: 0.9535 - loss: 0.1131
Epoch 80/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 852us/step - accuracy: 0.9561 - loss: 0.1076
Epoch 81/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 865us/step - accuracy: 0.9538 - loss: 0.1080
Epoch 82/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 859us/step - accuracy: 0.9560 - loss: 0.1031
Epoch 83/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 838us/step - accuracy: 0.9556 - loss: 0.1057
Epoch 84/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.9570 - loss: 0.1073
Epoch 85/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 927us/step - accuracy: 0.9566 - loss: 0.1046
Epoch 86/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 902us/step - accuracy: 0.9594 - loss: 0.0994
Epoch 87/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 823us/step - accuracy: 0.9587 - loss: 0.1025
Epoch 88/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 874us/step - accuracy: 0.9592 - loss: 0.1019
Epoch 89/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 887us/step - accuracy: 0.9608 - loss: 0.1033
Epoch 90/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 984us/step - accuracy: 0.9601 - loss: 0.0955
Epoch 91/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 824us/step - accuracy: 0.9610 - loss: 0.0993
Epoch 92/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 820us/step - accuracy: 0.9611 - loss: 0.0950
Epoch 93/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 883us/step - accuracy: 0.9609 - loss: 0.0960
Epoch 94/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.9634 - loss: 0.0933
Epoch 95/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 784us/step - accuracy: 0.9613 - loss: 0.0932
Epoch 96/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 944us/step - accuracy: 0.9613 - loss: 0.0959
Epoch 97/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 846us/step - accuracy: 0.9625 - loss: 0.0954
Epoch 98/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 849us/step - accuracy: 0.9580 - loss: 0.0979
Epoch 99/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 809us/step - accuracy: 0.9574 - loss: 0.1001
Epoch 100/100
254/254 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.9629 - loss: 0.0951

In [20]:
model.evaluate(X_test, y_test)

64/64 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 954us/step - accuracy: 0.9474 - loss: 0.1453

[0.14317600429058075, 0.9466930031776428]

In [21]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from tensorflow import keras
from tensorflow.keras import layers, models
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
import keras_tuner
from keras_tuner.tuners import RandomSearch
import matplotlib.pyplot as plt

# Load and preprocess data
data_path = "D:\MSIS\Customer-Churn-Prediction---Using-TensorFlow\Data\WA_Fn-UseC_-Telco-Customer-Churn.csv"
data = pd.read_csv(data_path)
data['TotalCharges'] = pd.to_numeric(data['TotalCharges'], errors='coerce')
data.dropna(subset=['TotalCharges'], inplace=True)
data["SeniorCitizen"] = data["SeniorCitizen"].map({0: "No", 1: "Yes"})
data = data.drop(['customerID'], axis=1)

# Encode categorical variables
categorical_cols = data.select_dtypes(include=['object']).columns
data = pd.get_dummies(data, columns=categorical_cols, drop_first=True)

# Split data
X = data.drop('Churn_Yes', axis=1)
y = data['Churn_Yes']

# Split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42, stratify=y
)

# Standardize the data
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Hyperparameter tuning with Keras Tuner
def build_model(hp):
    model = keras.Sequential()
    hp_units1 = hp.Int('units1', min_value=10, max_value=50, step=10)
    hp_units2 = hp.Int('units2', min_value=10, max_value=50, step=10)
    model.add(layers.Dense(units=hp_units1, input_shape=(X_train.shape[1],), activation='relu'))
    model.add(layers.Dense(units=hp_units2, activation='relu'))
    model.add(layers.Dense(1, activation='sigmoid'))

    # Tune the learning rate for the optimizer
    hp_learning_rate = hp.Choice('learning_rate', values=[1e-2, 1e-3, 1e-4])
    model.compile(optimizer=keras.optimizers.Adam(learning_rate=hp_learning_rate),
                  loss='binary_crossentropy',
                  metrics=['accuracy'])
    return model

# Initialize the tuner
tuner = RandomSearch(
    build_model,
    objective='val_accuracy',
    max_trials=5,
    executions_per_trial=3,
    directory='my_dir',
    project_name='tuning_example'
)

# Run the hyperparameter search
tuner.search(X_train, y_train, epochs=10, validation_data=(X_test, y_test))

# Retrieve the best model
best_model = tuner.get_best_models(num_models=1)[0]

# Train the best model
best_model.fit(X_train, y_train, epochs=20, validation_data=(X_test, y_test), verbose=1)

# Predict on the test set
y_pred = best_model.predict(X_test)
y_pred_classes = (y_pred > 0.5).astype(int)

# Evaluate the best model
train_results = best_model.evaluate(X_train, y_train)
val_results = best_model.evaluate(X_test, y_test)
print(f"Training Accuracy: {train_results[1]*100:.2f}%")
print(f"Validation Accuracy: {val_results[1]*100:.2f}%")

# Confusion matrix and classification report
cm = confusion_matrix(y_test, y_pred_classes)
cr = classification_report(y_test, y_pred_classes)

print("Confusion Matrix")
print(pd.DataFrame(cm, columns=['No Churn', 'Churn'], index=['No Churn', 'Churn']))

print("Classification Report")
print(cr)

Trial 5 Complete [00h 00m 13s]
val_accuracy: 0.7665086984634399

Best val_accuracy So Far: 0.8004739284515381
Total elapsed time: 00h 01m 07s
Epoch 1/20

c:\Program Files\Python311\Lib\site-packages\keras\src\saving\saving_lib.py:719: UserWarning: Skipping variable loading for optimizer 'adam', because it has 2 variables whereas the saved optimizer has 14 variables.
  saveable.load_own_variables(weights_store.get(inner_path))

154/154 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.8066 - loss: 0.4029 - val_accuracy: 0.7967 - val_loss: 0.4295
Epoch 2/20
154/154 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 2ms/step - accuracy: 0.8105 - loss: 0.4079 - val_accuracy: 0.7995 - val_loss: 0.4286
Epoch 3/20
154/154 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.8053 - loss: 0.4072 - val_accuracy: 0.7995 - val_loss: 0.4286
Epoch 4/20
154/154 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.8205 - loss: 0.3892 - val_accuracy: 0.7972 - val_loss: 0.4292
Epoch 5/20
154/154 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.8121 - loss: 0.4031 - val_accuracy: 0.8005 - val_loss: 0.4301
Epoch 6/20
154/154 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.8131 - loss: 0.3996 - val_accuracy: 0.7991 - val_loss: 0.4330
Epoch 7/20
154/154 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.8065 - loss: 0.3999 - val_accuracy: 0.7986 - val_loss: 0.4309
Epoch 8/20
154/154 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 2ms/step - accuracy: 0.8092 - loss: 0.4040 - val_accuracy: 0.7953 - val_loss: 0.4327
Epoch 9/20
154/154 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.8149 - loss: 0.3946 - val_accuracy: 0.7976 - val_loss: 0.4314
Epoch 10/20
154/154 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.8027 - loss: 0.4040 - val_accuracy: 0.7991 - val_loss: 0.4330
Epoch 11/20
154/154 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.8173 - loss: 0.3934 - val_accuracy: 0.7957 - val_loss: 0.4407
Epoch 12/20
154/154 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.8175 - loss: 0.3869 - val_accuracy: 0.7962 - val_loss: 0.4368
Epoch 13/20
154/154 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.8127 - loss: 0.3971 - val_accuracy: 0.7953 - val_loss: 0.4362
Epoch 14/20
154/154 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.8120 - loss: 0.3992 - val_accuracy: 0.7972 - val_loss: 0.4355
Epoch 15/20
154/154 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.8144 - loss: 0.3898 - val_accuracy: 0.7934 - val_loss: 0.4366
Epoch 16/20
154/154 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.8166 - loss: 0.3954 - val_accuracy: 0.7934 - val_loss: 0.4377
Epoch 17/20
154/154 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.8181 - loss: 0.3954 - val_accuracy: 0.7957 - val_loss: 0.4374
Epoch 18/20
154/154 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.8234 - loss: 0.3917 - val_accuracy: 0.7976 - val_loss: 0.4358
Epoch 19/20
154/154 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.8226 - loss: 0.3866 - val_accuracy: 0.7943 - val_loss: 0.4373
Epoch 20/20
154/154 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.8139 - loss: 0.3932 - val_accuracy: 0.7967 - val_loss: 0.4385
66/66 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step
154/154 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 944us/step - accuracy: 0.8160 - loss: 0.3893
66/66 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 745us/step - accuracy: 0.7939 - loss: 0.4492
Training Accuracy: 81.84%
Validation Accuracy: 79.67%
Confusion Matrix
          No Churn  Churn
No Churn      1386    163
Churn          266    295
Classification Report
              precision    recall  f1-score   support

       False       0.84      0.89      0.87      1549
        True       0.64      0.53      0.58       561

    accuracy                           0.80      2110
   macro avg       0.74      0.71      0.72      2110
weighted avg       0.79      0.80      0.79      2110